<li class='list'>
    <%= link_to '#' do %>
    <div class='drawing-img-content'>
      <%= image_tag(drawing.image, class: "drawing-img") if drawing.image.attached? %>
    </div>
    <div class='drawing-info'>
      <h3 class='drawing-title'>
        <%= drawing.title %>
      </h3>

      <% if drawing.price %>
        <div class='drawing-price'>
          <span><%= drawing.price %>円</span>
        </div>
      <% end %>  
    </div>
    <% end %>
</li>