.content-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.user-wrap .user-header {
  height: 200px;
}

.content-wrap .user-name {
  font-size: 20px;
}

.user-nav-bar .user-nav {
  display: inline-block;
  margin-left: 15px;
}

.user-nav-bar a {
  text-decoration: none;
  padding: 20px;
}